ZPKGENERIC/IF_GENERIC_SERVICEMAX_TRIGGERDETAILS/src/main/resources/wsdl/ServiceMaxOperations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.epredia.org/InboundTriggerDetails/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InboundTriggerDetails" 
targetNamespace="http://www.epredia.org/InboundTriggerDetails/"
xmlns:request="http://www.epredia.org/InboundTriggerDetails_Request"
xmlns:response="http://www.epredia.org/InboundTriggerDetails_Response">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.epredia.org/InboundTriggerDetails/">
      <xs:element name="InboundTriggerDetails_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Root" maxOccurs="1" minOccurs="0">
          <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="InterfaceId"/>
                    <xs:element type="xs:string" name="InterfaceName"/>
                    <xs:element type="xs:string" name="ObjectId"/>
                    <xs:element type="xs:string" name="ObjectName"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			</xs:sequence> 
		 </xs:complexType>
        </xs:element>	
         </xsd:schema>		
  </wsdl:types>
  <wsdl:message name="InboundTriggerDetailsRequest">
    <wsdl:part element="ns:InboundTriggerDetails_Request" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="InboundTriggerDetails_port">
    <wsdl:operation name="InboundTriggerDetails">
      <wsdl:input message="ns:InboundTriggerDetailsRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboundTriggerDetailsSOAP" type="ns:InboundTriggerDetails_port">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InboundTriggerDetails">
      <soap:operation soapAction="http://www.epredia.org/ServiceMaxOperations/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboundTriggerDetails">
    <wsdl:port binding="ns:InboundTriggerDetailsSOAP" name="InboundTriggerDetailsSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
